body {}

a{
    text-decoration: none;
}

#background1 {
    position: absolute;
    width: 102%;
    height: 102%;
    top: -10px;
    left: -10px;
    background-color: #b1efec;
}

.bottombar {
    /*    border: 2px blue solid;*/
    position: absolute;
    left: 150px;
    height: 70px;
    bottom:10px;
}

.bottombar h1,
h2 {
    color: black;
    margin-right: 140px;
    float: left;
    font-family: "Skolar Sans Latin";
    position: relative;
}


/*
.caption {  
    position: absolute;
    top: 278px;
    left: 571px;
    width: auto;
    height: 30;
    background: white; 
    font-size: 20px;
    border: 12px white solid;
    padding-bottom: 0;
    border-radius: 5px;
    float: left;
    line-height: 30px;
    text-align: center;
}
*/


.wrapper .text {
    position: absolute;
    bottom:135px;
    left: 50px;
    visibility: hidden;
    font-size: 15px;
    color: white;
}

.wrapper:hover .text {
    visibility: visible;
}
img {
    display: block;
}

#imgpreview {
    position: absolute;
    width: 350px;
    height: auto;
    top: 55px;
    left: 35px;
    z-index: 3;
    display: none;
}

.ui-widget.dialog {
    
}

.narrativebox {
    /*    border: 2px blue solid;*/
    width: 90%;
    height: 550px;
    top: 100px;
    left: 5vw;
    position: absolute;
    margin: auto;
    overflow-y: scroll;
    background-color: inherit;
}

#zone1narrative {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.8em;
}

#zone2narrative {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.8em;
}

.resize {
    width: 100px;
    height: auto;
}

@media all and (max-width: 500px) {
    .bottombar {
        width: 70%;
        left: 50px;
        height: 250px;
        top: 720px;
    }
    h2 {
        text-align: center;
        margin-bottom: -10px;
        padding-left: 100px;
    }
}
