body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

#background1 {
    position: absolute;
    width: 102%;
    height: 102%;
    top: -10px;
    left: -10px;
    color: white;
}

ul {
    padding-right: 220px;
    padding-left: 100px;
}

.bottombar {
    /*    border: 2px blue solid;*/
    position: absolute;
    left: 0px;
    height: 400px;
    top: 70px;
}

.bottombar h2 {
    font-size: 14px;
    color: black;
    float: left;
    clear: both;
    font-family: sans-serif;
    position: relative;
    font-weight: 500;
    background: black;
    color: white;
    padding: 5px 10px 4px 15px;
    margin-bottom: -5px;
    letter-spacing: 2px;
    line-height: 20px;
    width: 100px;
}

.bottombar h2:hover {
    background: yellow;
    color: black;
    font-weight: 600;
}

.bottombar h2.activepage {
    background: yellow;
    color: black;
    font-weight: 600;
}

.prevbar {
    position: absolute;
    left: -10px;
    top: 585px;
    width: 50px;
    height: 120px;
}

.previous {
    font-size: 18px;
    color: black;
    text-align: center;
    font-family: sans-serif;
    background: #B2FAF3;
    color: black;
    padding: 5px 10px 4px 25px;
    letter-spacing: 2px;
    line-height: 20px;
}

.nextbar {
    position: absolute;
    right: -10px;
    top: 585px;
    width: 50px;
    height: 120px;
    margin-right: 10px;
}

.next {
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
    background: #b1efec;
    color: black;
    padding: 5px 25px 4px 10px;
    letter-spacing: 2px;
    line-height: 20px;
}


/*
.caption {  
    position: absolute;
    top: 278px;
    left: 571px;
    width: auto;
    height: 30;
    background: white; 
    font-size: 20px;
    border: 12px white solid;
    padding-bottom: 0;
    border-radius: 5px;
    float: left;
    line-height: 30px;
    text-align: center;
}
*/

#YXwrap,
#HJwrap,
#Rwrap,
#Valwrap,
#Kwrap,
#Vwrap,
#Awrap,
#Swrap,
#Ywrap,
#Pwrap,
#Iwrap,
#Wwrap,
#Canwrap,
#Hwrap,
#Sywrap,
#HCwrap,
#Jwrap,
#i94,
#CPT,
#OPT,
#TIwrap,
#TIwrap2,
#TIwrap3,
#TIwrap4,
#GKwrap,
#JPwrap,
#JKwrap,
#JKwrap3,
#GKwrap2,
#Map,
#JKwrap2 {
    width: auto;
    margin-bottom: -10px;
    display: inline-block;
}

.text {
    position: absolute;
    visibility: hidden;
    font-size: 20px;
    font-family: "Skolar Sans Latin";
    font-weight: 600;
    color: blue;
    background: white;
    border: 2.5px solid blue;
    line-height: 1em;
    padding: 14px;
    margin-top: 5px;
    border-radius: 5px;
    width: auto;
    line-height: 1.4em;
    text-align: left;
}

#YXwrap:hover .text,
#HJwrap:hover .text,
#Rwrap:hover .text,
#Valwrap:hover .text,
#Kwrap:hover .text,
#Vwrap:hover .text,
#Awrap:hover .text,
#Swrap:hover .text,
#Ywrap:hover .text,
#Pwrap:hover .text,
#Iwrap:hover .text,
#Wwrap:hover .text,
#Canwrap:hover .text,
#Hwrap:hover .text,
#Sywrap:hover .text,
#HCwrap:hover .text,
#Jwrap:hover .text,
#i94:hover .text,
#map:hover .text,
#CPT:hover .text,
#OPT:hover .text,
#TIwrap:hover .text,
#TIwrap2:hover .text,
#TIwrap3:hover .text,
#TIwrap4:hover .text,
#GKwrap:hover .text,
#GKwrap2:hover .text,
#JKwrap:hover .text,
#JPwrap:hover .text,
#JKwrap3:hover .text,
#JKwrap2:hover .text {
    visibility: visible;
}

img {
    display: block;
}

#imgpreview {
    position: absolute;
    width: 350px;
    height: auto;
    top: 55px;
    left: 35px;
    z-index: 3;
    display: none;
}

.narrativebox {
    /*    border: 2px blue solid;*/
    width: 72%;
    height: 620px;
    top: 65px;
    left: 14%;
    position: absolute;
    margin: auto;
    overflow-y: scroll;
    background-color: inherit;
}

#zone1narrative {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 2.5em;
}

#zone2narrative {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 2.5em;
}

::-webkit-scrollbar {
    display: none;
}

.resize {
    width: 60px;
    height: 50px;
}

.resizegif {
    width: 90px;
    height: auto;
}

.penname {
    font-family: "Merriweather", serif;
    right: 180px;
    bottom: 10px;
    position: absolute;
    color: black;
}

@media all and (max-width: 500px) {
    .bottombar {
        width: 70%;
        left: 50px;
        height: 250px;
        top: 720px;
    }
    h2 {
        text-align: center;
        margin-bottom: -10px;
        padding-left: 100px;
    }
}

#accountVal, #accountVolf, #accountAngel, #accountShivangi, #accountYasemin, #accountPriscilla, #accountIshaan, #accountWill, #accountT, #accountHazel, #accountSyrena, #accountHaejung, #accountJavier{
    font-family: sans-serif;
    line-height: 1.35em;
    font-weight: 500;
    padding: 20px;
}


/*Zone 1 Icon Styling*/

#bus {
    width: 60px;
    height: 45px;
}




/*Zone 2 Icon Styling*/

#megaphone {
    width: 65px;
}


/*Zone 3 Icon Styling*/

#blanket {
    width: 55px;
}

#juicebox {
    width: 60px;
}

#stopsign {
    width: 55px;
}

#brokenheart {
    width: 55px;
}

#TV {
    width: 55px;
}

#flower {
    width: 55px;
}

#wall {
    width: 55px;
}

#conversation {
    width: 65px;
}

#thermometer {
    width: 55px;
}

#night {
    width: 55px;
}

#hammer {
    width: 55px;
}

#alarm {
    width: 55px;
}

#telephone {
    width: 55px;
}

#microphone {
    width: 60px;
}

#formresize {
    width: 40px;
    height: 50px;
}

#planner {
    width: 50px;
}
