body {
    background-color: #EBF7FF;
}

.bottombar h1, h2{
    top: 900px;
    left: 15%;
    display: inline-block;
    margin-right: 270px;
    position: relative;
    font-family: "Atlas Grotesk";
    
}

.narrativebox {
/*    border: 2px blue solid;*/
    width: 90%;
    height: 60%;
    position: absolute;
    margin: auto;
    left: 65px;
    overflow-y: scroll;
    background-color: #EEFFF0;
}

#zone1narrative {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Merriweather",serif ;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.8em;
<<<<<<< HEAD
}

.resize {
    width: 100px;
    height: auto;
=======
>>>>>>> origin/master
}

@media all and (max-width: 830px) {
    h1 {}

    h2 {
    text-transform: uppercase;
    font-size: 1.5rem;}
}

@media all and (min-width: 1000px) {
